.App {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.footer{
  position:relative;
    left:0%;
    bottom: 0%;
    width:100%;
}
a{
  text-decoration: none !important;
  color: inherit !important;
}
#home , #reviews{
  background: #abcdef;
  border: darkblue double;
}
